<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          src\main\scala\cml\view\BattleRule\BattleRulesImpl.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier;'>1 <span style=''>package cml.view.BattleRule
</span>2 <span style=''>
</span>3 <span style=''>/**
</span>4 <span style=''>  * This trait define basic battle rules
</span>5 <span style=''>  *
</span>6 <span style=''>  * @author Chiara Volonnino
</span>7 <span style=''>  */
</span>8 <span style=''>
</span>9 <span style=''>trait BattleRule {
</span>10 <span style=''>
</span>11 <span style=''>  /**
</span>12 <span style=''>    * Game initialization
</span>13 <span style=''>    */
</span>14 <span style=''>  def initialization()
</span>15 <span style=''>
</span>16 <span style=''>  /**
</span>17 <span style=''>    * Define attack method
</span>18 <span style=''>    */
</span>19 <span style=''>  def attack()
</span>20 <span style=''>
</span>21 <span style=''>  /**
</span>22 <span style=''>    * Define charge method
</span>23 <span style=''>    */
</span>24 <span style=''>  def charge()
</span>25 <span style=''>
</span>26 <span style=''>  /**
</span>27 <span style=''>    * Define protection method
</span>28 <span style=''>    */
</span>29 <span style=''>  def protection()
</span>30 <span style=''>
</span>31 <span style=''>  /**
</span>32 <span style=''>    * Define battle engine
</span>33 <span style=''>    * @param powerAttackValue is power attack in base of method implemented
</span>34 <span style=''>    * @return actual creature life
</span>35 <span style=''>    */
</span>36 <span style=''>  def gameEngine(powerAttackValue: Int): Int
</span>37 <span style=''>
</span>38 <span style=''>
</span>39 <span style=''>}
</span>40 <span style=''>
</span>41 <span style=''>/**
</span>42 <span style=''>  * This class implements BattleRule
</span>43 <span style=''>  */
</span>44 <span style=''>
</span>45 <span style=''>case class BattleRulesImpl() extends BattleRule {
</span>46 <span style=''>
</span>47 <span style=''>  private val _creatureLife: Int = </span><span style='background: #F0ADAD'>50</span><span style=''>
</span>48 <span style=''>  private var _attackPoint: Int = _
</span>49 <span style=''>  private var isProtect: Boolean = _
</span>50 <span style=''>  private var isAttack: Boolean = _
</span>51 <span style=''>  private var isCharge: Boolean = _
</span>52 <span style=''>
</span>53 <span style=''>  def initialization(): Unit = {
</span>54 <span style=''>    </span><span style='background: #F0ADAD'>_attackPoint = 0</span><span style=''>
</span>55 <span style=''>    </span><span style='background: #F0ADAD'>isProtect = false</span><span style=''>
</span>56 <span style=''>    </span><span style='background: #F0ADAD'>isAttack = false</span><span style=''>
</span>57 <span style=''>    </span><span style='background: #F0ADAD'>isCharge = false</span><span style=''>
</span>58 <span style=''>  }
</span>59 <span style=''>
</span>60 <span style=''>  override def attack(): Unit = if(</span><span style='background: #F0ADAD'>isPossibleAttack</span><span style=''>) </span><span style='background: #F0ADAD'>decrementAttackPoint()</span><span style=''>
</span>61 <span style=''>
</span>62 <span style=''>  override def charge(): Unit = {
</span>63 <span style=''>    </span><span style='background: #F0ADAD'>incrementAttackPoint()</span><span style=''>
</span>64 <span style=''>    </span><span style='background: #F0ADAD'>isCharge = true</span><span style=''>
</span>65 <span style=''>  }
</span>66 <span style=''>
</span>67 <span style=''>  override def protection(): Unit = </span><span style='background: #F0ADAD'>isProtect = true</span><span style=''>
</span>68 <span style=''>
</span>69 <span style=''>  override def gameEngine(powerAttackValue: Int): Int = {
</span>70 <span style=''>    var powerAttack = </span><span style='background: #F0ADAD'>0</span><span style=''>
</span>71 <span style=''>    if(</span><span style='background: #F0ADAD'>isProtect</span><span style=''>) </span><span style='background: #F0ADAD'>{
</span>72 <span style=''></span><span style='background: #F0ADAD'>      powerAttack = 0
</span>73 <span style=''></span><span style='background: #F0ADAD'>      isProtect_()
</span>74 <span style=''></span><span style='background: #F0ADAD'>    }</span><span style=''>
</span>75 <span style=''>    else </span><span style='background: #F0ADAD'>if(isCharge) {
</span>76 <span style=''></span><span style='background: #F0ADAD'>      powerAttack = 0
</span>77 <span style=''></span><span style='background: #F0ADAD'>      isCharge_()
</span>78 <span style=''></span><span style='background: #F0ADAD'>    }
</span>79 <span style=''></span><span style='background: #F0ADAD'>    else powerAttack = powerAttackValue</span><span style=''>
</span>80 <span style=''>    powerAttack
</span>81 <span style=''>  }
</span>82 <span style=''>
</span>83 <span style=''>  private def decrementAttackPoint(): Unit = {
</span>84 <span style=''>    if(</span><span style='background: #F0ADAD'>attackPoint &gt; 0</span><span style=''>) </span><span style='background: #F0ADAD'>_attackPoint -= 1</span><span style=''>
</span>85 <span style=''>  }
</span>86 <span style=''>
</span>87 <span style=''>  private def incrementAttackPoint(): Unit = </span><span style='background: #F0ADAD'>_attackPoint += 1</span><span style=''>
</span>88 <span style=''>
</span>89 <span style=''>  private def isPossibleAttack: Boolean = {
</span>90 <span style=''>    if(</span><span style='background: #F0ADAD'>attackPoint &gt; 0</span><span style=''>) </span><span style='background: #F0ADAD'>isAttack = true</span><span style=''>
</span>91 <span style=''>    else </span><span style='background: #F0ADAD'>isAttack = false</span><span style=''>
</span>92 <span style=''>    </span><span style='background: #F0ADAD'>isAttack</span><span style=''>
</span>93 <span style=''>  }
</span>94 <span style=''>
</span>95 <span style=''>  private def isProtect_(): Unit = </span><span style='background: #F0ADAD'>isProtect = false</span><span style=''>
</span>96 <span style=''>
</span>97 <span style=''>  private def isCharge_(): Unit = </span><span style='background: #F0ADAD'>isCharge = false</span><span style=''>
</span>98 <span style=''>
</span>99 <span style=''>  def creatureLife(): Int = </span><span style='background: #F0ADAD'>_creatureLife</span><span style=''>
</span>100 <span style=''>  def attackPoint: Int = </span><span style='background: #F0ADAD'>_attackPoint</span><span style=''>
</span>101 <span style=''>  def isProtection: Boolean = </span><span style='background: #F0ADAD'>isProtect</span><span style=''>
</span>102 <span style=''>
</span>103 <span style=''>}
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Code</th>
      </tr><tr>
        <td>
          47
        </td>
        <td>
          1132
        </td>
        <td>
          752
          -
          754
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          50
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          1133
        </td>
        <td>
          945
          -
          961
        </td>
        <td>
          Apply
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl._attackPoint_=
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this._attackPoint_=(0)
        </td>
      </tr><tr>
        <td>
          55
        </td>
        <td>
          1134
        </td>
        <td>
          967
          -
          984
        </td>
        <td>
          Apply
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.isProtect_=
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.isProtect_=(false)
        </td>
      </tr><tr>
        <td>
          56
        </td>
        <td>
          1135
        </td>
        <td>
          990
          -
          1006
        </td>
        <td>
          Apply
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.isAttack_=
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.isAttack_=(false)
        </td>
      </tr><tr>
        <td>
          57
        </td>
        <td>
          1136
        </td>
        <td>
          1012
          -
          1028
        </td>
        <td>
          Apply
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.isCharge_=
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.isCharge_=(false)
        </td>
      </tr><tr>
        <td>
          60
        </td>
        <td>
          1138
        </td>
        <td>
          1090
          -
          1112
        </td>
        <td>
          Apply
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.decrementAttackPoint
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.decrementAttackPoint()
        </td>
      </tr><tr>
        <td>
          60
        </td>
        <td>
          1141
        </td>
        <td>
          1069
          -
          1069
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          ()
        </td>
      </tr><tr>
        <td>
          60
        </td>
        <td>
          1140
        </td>
        <td>
          1069
          -
          1069
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          ()
        </td>
      </tr><tr>
        <td>
          60
        </td>
        <td>
          1137
        </td>
        <td>
          1072
          -
          1088
        </td>
        <td>
          Select
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.isPossibleAttack
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.isPossibleAttack
        </td>
      </tr><tr>
        <td>
          60
        </td>
        <td>
          1139
        </td>
        <td>
          1090
          -
          1112
        </td>
        <td>
          Block
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.decrementAttackPoint
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.decrementAttackPoint()
        </td>
      </tr><tr>
        <td>
          63
        </td>
        <td>
          1142
        </td>
        <td>
          1155
          -
          1177
        </td>
        <td>
          Apply
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.incrementAttackPoint
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.incrementAttackPoint()
        </td>
      </tr><tr>
        <td>
          64
        </td>
        <td>
          1143
        </td>
        <td>
          1183
          -
          1198
        </td>
        <td>
          Apply
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.isCharge_=
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.isCharge_=(true)
        </td>
      </tr><tr>
        <td>
          67
        </td>
        <td>
          1144
        </td>
        <td>
          1243
          -
          1259
        </td>
        <td>
          Apply
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.isProtect_=
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.isProtect_=(true)
        </td>
      </tr><tr>
        <td>
          70
        </td>
        <td>
          1145
        </td>
        <td>
          1344
          -
          1345
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          0
        </td>
      </tr><tr>
        <td>
          71
        </td>
        <td>
          1149
        </td>
        <td>
          1365
          -
          1416
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          {
  powerAttack = 0;
  BattleRulesImpl.this.isProtect_()
}
        </td>
      </tr><tr>
        <td>
          71
        </td>
        <td>
          1146
        </td>
        <td>
          1354
          -
          1363
        </td>
        <td>
          Select
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.isProtect
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.isProtect
        </td>
      </tr><tr>
        <td>
          72
        </td>
        <td>
          1147
        </td>
        <td>
          1388
          -
          1389
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          0
        </td>
      </tr><tr>
        <td>
          73
        </td>
        <td>
          1148
        </td>
        <td>
          1397
          -
          1409
        </td>
        <td>
          Apply
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.isProtect_
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.isProtect_()
        </td>
      </tr><tr>
        <td>
          75
        </td>
        <td>
          1153
        </td>
        <td>
          1440
          -
          1490
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          {
  powerAttack = 0;
  BattleRulesImpl.this.isCharge_()
}
        </td>
      </tr><tr>
        <td>
          75
        </td>
        <td>
          1150
        </td>
        <td>
          1430
          -
          1438
        </td>
        <td>
          Select
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.isCharge
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.isCharge
        </td>
      </tr><tr>
        <td>
          75
        </td>
        <td>
          1155
        </td>
        <td>
          1427
          -
          1531
        </td>
        <td>
          If
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          if (BattleRulesImpl.this.isCharge)
  {
    powerAttack = 0;
    BattleRulesImpl.this.isCharge_()
  }
else
  powerAttack = powerAttackValue
        </td>
      </tr><tr>
        <td>
          76
        </td>
        <td>
          1151
        </td>
        <td>
          1463
          -
          1464
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          0
        </td>
      </tr><tr>
        <td>
          77
        </td>
        <td>
          1152
        </td>
        <td>
          1472
          -
          1483
        </td>
        <td>
          Apply
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.isCharge_
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.isCharge_()
        </td>
      </tr><tr>
        <td>
          79
        </td>
        <td>
          1154
        </td>
        <td>
          1501
          -
          1531
        </td>
        <td>
          Assign
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          powerAttack = powerAttackValue
        </td>
      </tr><tr>
        <td>
          84
        </td>
        <td>
          1160
        </td>
        <td>
          1609
          -
          1609
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          ()
        </td>
      </tr><tr>
        <td>
          84
        </td>
        <td>
          1156
        </td>
        <td>
          1612
          -
          1627
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Int.&gt;
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.attackPoint.&gt;(0)
        </td>
      </tr><tr>
        <td>
          84
        </td>
        <td>
          1159
        </td>
        <td>
          1629
          -
          1646
        </td>
        <td>
          Block
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl._attackPoint_=
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this._attackPoint_=(BattleRulesImpl.this._attackPoint.-(1))
        </td>
      </tr><tr>
        <td>
          84
        </td>
        <td>
          1158
        </td>
        <td>
          1629
          -
          1646
        </td>
        <td>
          Apply
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl._attackPoint_=
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this._attackPoint_=(BattleRulesImpl.this._attackPoint.-(1))
        </td>
      </tr><tr>
        <td>
          84
        </td>
        <td>
          1161
        </td>
        <td>
          1609
          -
          1609
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          ()
        </td>
      </tr><tr>
        <td>
          84
        </td>
        <td>
          1157
        </td>
        <td>
          1629
          -
          1646
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Int.-
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this._attackPoint.-(1)
        </td>
      </tr><tr>
        <td>
          87
        </td>
        <td>
          1162
        </td>
        <td>
          1700
          -
          1717
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Int.+
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this._attackPoint.+(1)
        </td>
      </tr><tr>
        <td>
          87
        </td>
        <td>
          1163
        </td>
        <td>
          1700
          -
          1717
        </td>
        <td>
          Apply
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl._attackPoint_=
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this._attackPoint_=(BattleRulesImpl.this._attackPoint.+(1))
        </td>
      </tr><tr>
        <td>
          90
        </td>
        <td>
          1165
        </td>
        <td>
          1790
          -
          1805
        </td>
        <td>
          Apply
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.isAttack_=
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.isAttack_=(true)
        </td>
      </tr><tr>
        <td>
          90
        </td>
        <td>
          1164
        </td>
        <td>
          1773
          -
          1788
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Int.&gt;
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.attackPoint.&gt;(0)
        </td>
      </tr><tr>
        <td>
          90
        </td>
        <td>
          1166
        </td>
        <td>
          1790
          -
          1805
        </td>
        <td>
          Block
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.isAttack_=
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.isAttack_=(true)
        </td>
      </tr><tr>
        <td>
          91
        </td>
        <td>
          1168
        </td>
        <td>
          1816
          -
          1832
        </td>
        <td>
          Block
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.isAttack_=
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.isAttack_=(false)
        </td>
      </tr><tr>
        <td>
          91
        </td>
        <td>
          1167
        </td>
        <td>
          1816
          -
          1832
        </td>
        <td>
          Apply
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.isAttack_=
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.isAttack_=(false)
        </td>
      </tr><tr>
        <td>
          92
        </td>
        <td>
          1169
        </td>
        <td>
          1838
          -
          1846
        </td>
        <td>
          Select
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.isAttack
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.isAttack
        </td>
      </tr><tr>
        <td>
          95
        </td>
        <td>
          1170
        </td>
        <td>
          1890
          -
          1907
        </td>
        <td>
          Apply
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.isProtect_=
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.isProtect_=(false)
        </td>
      </tr><tr>
        <td>
          97
        </td>
        <td>
          1171
        </td>
        <td>
          1945
          -
          1961
        </td>
        <td>
          Apply
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.isCharge_=
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.isCharge_=(false)
        </td>
      </tr><tr>
        <td>
          99
        </td>
        <td>
          1172
        </td>
        <td>
          1993
          -
          2006
        </td>
        <td>
          Select
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl._creatureLife
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this._creatureLife
        </td>
      </tr><tr>
        <td>
          100
        </td>
        <td>
          1173
        </td>
        <td>
          2033
          -
          2045
        </td>
        <td>
          Select
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl._attackPoint
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this._attackPoint
        </td>
      </tr><tr>
        <td>
          101
        </td>
        <td>
          1174
        </td>
        <td>
          2077
          -
          2086
        </td>
        <td>
          Select
        </td>
        <td>
          cml.view.BattleRule.BattleRulesImpl.isProtect
        </td>
        <td style="background: #F0ADAD">
          BattleRulesImpl.this.isProtect
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>