<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          src\main\scala\cml\view\ImageSlicer.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier;'>1 <span style=''>package cml.view
</span>2 <span style=''>
</span>3 <span style=''>import javafx.scene.image.Image
</span>4 <span style=''>import javafx.scene.canvas.Canvas
</span>5 <span style=''>
</span>6 <span style=''>/**
</span>7 <span style=''>  * This class utils for managements slicer image
</span>8 <span style=''>  * @author ecavina
</span>9 <span style=''>  *
</span>10 <span style=''>  * @param img Image in input
</span>11 <span style=''>  * @param xAmount x coordinate
</span>12 <span style=''>  * @param yAmount y coordinate
</span>13 <span style=''>  */
</span>14 <span style=''>class ImageSlicer(val img: Image, val xAmount: Int, val yAmount: Int) {
</span>15 <span style=''>
</span>16 <span style=''>  val sliceWidth: Double = </span><span style='background: #F0ADAD'>img.getWidth / xAmount</span><span style=''>
</span>17 <span style=''>  val sliceHeight: Double = </span><span style='background: #F0ADAD'>img.getHeight / yAmount</span><span style=''>
</span>18 <span style=''>
</span>19 <span style=''>  def sliceAt(x: Int, y: Int): Canvas = {
</span>20 <span style=''>    val canvas = </span><span style='background: #F0ADAD'>new Canvas(sliceWidth, sliceHeight)</span><span style=''>
</span>21 <span style=''>    val grContext = </span><span style='background: #F0ADAD'>canvas.getGraphicsContext2D</span><span style=''>
</span>22 <span style=''>
</span>23 <span style=''>    val (sourceX, sourceY) = coordinatesOfSliceAt(x, y)
</span>24 <span style=''>    val (destX, destY) = (0, 0)
</span>25 <span style=''>
</span>26 <span style=''>    </span><span style='background: #F0ADAD'>grContext.drawImage(img,
</span>27 <span style=''></span><span style='background: #F0ADAD'>      sourceX, sourceY, sliceWidth, sliceHeight,
</span>28 <span style=''></span><span style='background: #F0ADAD'>      destX, destY, sliceWidth, sliceHeight)</span><span style=''>
</span>29 <span style=''>
</span>30 <span style=''>    canvas
</span>31 <span style=''>  }
</span>32 <span style=''>
</span>33 <span style=''>  def coordinatesOfSliceAt(x: Int, y: Int): (Int, Int) = {
</span>34 <span style=''>    val coordX = (</span><span style='background: #F0ADAD'>(x - 1) * sliceWidth).toInt</span><span style=''>
</span>35 <span style=''>    val coordY = (</span><span style='background: #F0ADAD'>(y - 1) * sliceHeight).toInt</span><span style=''>
</span>36 <span style=''>    </span><span style='background: #F0ADAD'>(coordX, coordY)</span><span style=''>
</span>37 <span style=''>  }
</span>38 <span style=''>
</span>39 <span style=''>}
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Code</th>
      </tr><tr>
        <td>
          16
        </td>
        <td>
          1512
        </td>
        <td>
          377
          -
          399
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Double./
        </td>
        <td style="background: #F0ADAD">
          ImageSlicer.this.img.getWidth()./(ImageSlicer.this.xAmount)
        </td>
      </tr><tr>
        <td>
          16
        </td>
        <td>
          1511
        </td>
        <td>
          392
          -
          399
        </td>
        <td>
          Select
        </td>
        <td>
          cml.view.ImageSlicer.xAmount
        </td>
        <td style="background: #F0ADAD">
          ImageSlicer.this.xAmount
        </td>
      </tr><tr>
        <td>
          17
        </td>
        <td>
          1514
        </td>
        <td>
          429
          -
          452
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Double./
        </td>
        <td style="background: #F0ADAD">
          ImageSlicer.this.img.getHeight()./(ImageSlicer.this.yAmount)
        </td>
      </tr><tr>
        <td>
          17
        </td>
        <td>
          1513
        </td>
        <td>
          445
          -
          452
        </td>
        <td>
          Select
        </td>
        <td>
          cml.view.ImageSlicer.yAmount
        </td>
        <td style="background: #F0ADAD">
          ImageSlicer.this.yAmount
        </td>
      </tr><tr>
        <td>
          20
        </td>
        <td>
          1515
        </td>
        <td>
          527
          -
          537
        </td>
        <td>
          Select
        </td>
        <td>
          cml.view.ImageSlicer.sliceWidth
        </td>
        <td style="background: #F0ADAD">
          ImageSlicer.this.sliceWidth
        </td>
      </tr><tr>
        <td>
          20
        </td>
        <td>
          1517
        </td>
        <td>
          516
          -
          551
        </td>
        <td>
          Apply
        </td>
        <td>
          javafx.scene.canvas.Canvas.&lt;init&gt;
        </td>
        <td style="background: #F0ADAD">
          new javafx.scene.canvas.Canvas(ImageSlicer.this.sliceWidth, ImageSlicer.this.sliceHeight)
        </td>
      </tr><tr>
        <td>
          20
        </td>
        <td>
          1516
        </td>
        <td>
          539
          -
          550
        </td>
        <td>
          Select
        </td>
        <td>
          cml.view.ImageSlicer.sliceHeight
        </td>
        <td style="background: #F0ADAD">
          ImageSlicer.this.sliceHeight
        </td>
      </tr><tr>
        <td>
          21
        </td>
        <td>
          1518
        </td>
        <td>
          573
          -
          600
        </td>
        <td>
          Apply
        </td>
        <td>
          javafx.scene.canvas.Canvas.getGraphicsContext2D
        </td>
        <td style="background: #F0ADAD">
          canvas.getGraphicsContext2D()
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          1519
        </td>
        <td>
          613
          -
          613
        </td>
        <td>
          Select
        </td>
        <td>
          scala.Tuple2._1
        </td>
        <td style="background: #F0ADAD">
          x$1._1
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          1520
        </td>
        <td>
          622
          -
          622
        </td>
        <td>
          Select
        </td>
        <td>
          scala.Tuple2._2
        </td>
        <td style="background: #F0ADAD">
          x$1._2
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          1521
        </td>
        <td>
          670
          -
          670
        </td>
        <td>
          Select
        </td>
        <td>
          scala.Tuple2._1
        </td>
        <td style="background: #F0ADAD">
          x$2._1
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          1522
        </td>
        <td>
          677
          -
          677
        </td>
        <td>
          Select
        </td>
        <td>
          scala.Tuple2._2
        </td>
        <td style="background: #F0ADAD">
          x$2._2
        </td>
      </tr><tr>
        <td>
          26
        </td>
        <td>
          1532
        </td>
        <td>
          700
          -
          820
        </td>
        <td>
          Apply
        </td>
        <td>
          javafx.scene.canvas.GraphicsContext.drawImage
        </td>
        <td style="background: #F0ADAD">
          grContext.drawImage(ImageSlicer.this.img, sourceX.toDouble, sourceY.toDouble, ImageSlicer.this.sliceWidth, ImageSlicer.this.sliceHeight, destX.toDouble, destY.toDouble, ImageSlicer.this.sliceWidth, ImageSlicer.this.sliceHeight)
        </td>
      </tr><tr>
        <td>
          26
        </td>
        <td>
          1523
        </td>
        <td>
          720
          -
          723
        </td>
        <td>
          Select
        </td>
        <td>
          cml.view.ImageSlicer.img
        </td>
        <td style="background: #F0ADAD">
          ImageSlicer.this.img
        </td>
      </tr><tr>
        <td>
          27
        </td>
        <td>
          1527
        </td>
        <td>
          762
          -
          773
        </td>
        <td>
          Select
        </td>
        <td>
          cml.view.ImageSlicer.sliceHeight
        </td>
        <td style="background: #F0ADAD">
          ImageSlicer.this.sliceHeight
        </td>
      </tr><tr>
        <td>
          27
        </td>
        <td>
          1524
        </td>
        <td>
          732
          -
          739
        </td>
        <td>
          Select
        </td>
        <td>
          scala.Int.toDouble
        </td>
        <td style="background: #F0ADAD">
          sourceX.toDouble
        </td>
      </tr><tr>
        <td>
          27
        </td>
        <td>
          1526
        </td>
        <td>
          750
          -
          760
        </td>
        <td>
          Select
        </td>
        <td>
          cml.view.ImageSlicer.sliceWidth
        </td>
        <td style="background: #F0ADAD">
          ImageSlicer.this.sliceWidth
        </td>
      </tr><tr>
        <td>
          27
        </td>
        <td>
          1525
        </td>
        <td>
          741
          -
          748
        </td>
        <td>
          Select
        </td>
        <td>
          scala.Int.toDouble
        </td>
        <td style="background: #F0ADAD">
          sourceY.toDouble
        </td>
      </tr><tr>
        <td>
          28
        </td>
        <td>
          1528
        </td>
        <td>
          782
          -
          787
        </td>
        <td>
          Select
        </td>
        <td>
          scala.Int.toDouble
        </td>
        <td style="background: #F0ADAD">
          destX.toDouble
        </td>
      </tr><tr>
        <td>
          28
        </td>
        <td>
          1530
        </td>
        <td>
          796
          -
          806
        </td>
        <td>
          Select
        </td>
        <td>
          cml.view.ImageSlicer.sliceWidth
        </td>
        <td style="background: #F0ADAD">
          ImageSlicer.this.sliceWidth
        </td>
      </tr><tr>
        <td>
          28
        </td>
        <td>
          1529
        </td>
        <td>
          789
          -
          794
        </td>
        <td>
          Select
        </td>
        <td>
          scala.Int.toDouble
        </td>
        <td style="background: #F0ADAD">
          destY.toDouble
        </td>
      </tr><tr>
        <td>
          28
        </td>
        <td>
          1531
        </td>
        <td>
          808
          -
          819
        </td>
        <td>
          Select
        </td>
        <td>
          cml.view.ImageSlicer.sliceHeight
        </td>
        <td style="background: #F0ADAD">
          ImageSlicer.this.sliceHeight
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          1533
        </td>
        <td>
          926
          -
          927
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          1
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          1535
        </td>
        <td>
          921
          -
          948
        </td>
        <td>
          Select
        </td>
        <td>
          scala.Double.toInt
        </td>
        <td style="background: #F0ADAD">
          x.-(1).*(ImageSlicer.this.sliceWidth).toInt
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          1534
        </td>
        <td>
          931
          -
          941
        </td>
        <td>
          Select
        </td>
        <td>
          cml.view.ImageSlicer.sliceWidth
        </td>
        <td style="background: #F0ADAD">
          ImageSlicer.this.sliceWidth
        </td>
      </tr><tr>
        <td>
          35
        </td>
        <td>
          1536
        </td>
        <td>
          973
          -
          974
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          1
        </td>
      </tr><tr>
        <td>
          35
        </td>
        <td>
          1538
        </td>
        <td>
          968
          -
          996
        </td>
        <td>
          Select
        </td>
        <td>
          scala.Double.toInt
        </td>
        <td style="background: #F0ADAD">
          y.-(1).*(ImageSlicer.this.sliceHeight).toInt
        </td>
      </tr><tr>
        <td>
          35
        </td>
        <td>
          1537
        </td>
        <td>
          978
          -
          989
        </td>
        <td>
          Select
        </td>
        <td>
          cml.view.ImageSlicer.sliceHeight
        </td>
        <td style="background: #F0ADAD">
          ImageSlicer.this.sliceHeight
        </td>
      </tr><tr>
        <td>
          36
        </td>
        <td>
          1539
        </td>
        <td>
          1002
          -
          1018
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Tuple2.apply
        </td>
        <td style="background: #F0ADAD">
          scala.Tuple2.apply[Int, Int](coordX, coordY)
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>